body {
    font-size: 14px;
    font-family: MicrosoftYaHei, "Microsoft YaHei", HelveticaNeue, Helvetica, "Lucida Grande", Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: normal;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.app-container {
    width: 100%;
    max-width: 1280px;
}

.bg-dark {
    background-color: #414141 !important;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25) !important;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.nav-item img {
    border-radius: 4px;
}

.active {
    color: #fff;
}
.active:hover {
    text-decoration: none;
    cursor: pointer;
    color: #414141;
}

.navbar-account {
    font-size: 1rem;
}

.sidebar {
    text-align: center;
    max-width: 80px !important;
}

.sidebar a:hover {
    color: rgba(245,245,245,.75);
}

.sidebar-icon {
    color: #fff;
}
.sidebar-label {
    margin-top: 4px;
    font-size: 12px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.catalogue {
    margin: 0px;
    padding: 0px;
    max-width: 280px;
}

.catalogue-panel {
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}

.catalogue-cell {
    width: 100%;
    padding: 12px;
    margin: 0;
}

.catalogue-cell:hover {
    background-color: #d5d6d8;
}

.cell-actvie {
    background-color: #f5f6f8;
}
.cell-actvie:hover {
    background-color: #cdcdcd;
}

.catalogue-thumb {
    display: inline-block;
    vertical-align: top;
    padding-right: 12px;
    padding-top: 2px;
    margin: 0;
}
.catalogue-thumb:after {
    clear: both;
}
.catalogue-thumb img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    vertical-align: unset;
}

.catalogue-label {
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
    padding-top: 2px;
}
.catalogue-label .label {
    font-size: 14px;
    color: #000;
    padding: 4px 0px 0px 0px;
}
.catalogue-label .sublabel {
    font-size: 12px;
    color: #999;
    padding: 4px 0px 0px 0px;
}
.catalogue-label .label-bottom {
    font-size: 4px;
}

.catalogue-state {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    padding-top: 2px;
    color: #999;
    float: right;
}

.main {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(245, 246, 248, 1);
}

.main::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://static.shixincube.com/cube/assets/images/logo/cube_256.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.main-active {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(245, 246, 248, 1);
}

.main-active:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://static.shixincube.com/cube/assets/images/logo/cube_256.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}

.main-panel {
    color: #26252a;
    font-size: 14px;
    width: 100%;
    height: calc(100vh - 48px);
    background-color: #f5f6f8;
    visibility: hidden;
}

.main-panel-bg {
    float: left;
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
    background-image: url("https://static.shixincube.com/cube/assets/images/logo/cube_256.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    opacity: 0.2;
}

.main-header {
    height: 54px;
    margin: 0;
    padding: 14px 0px 0px 20px;
    background-color: #f4f5f6;
    border-bottom: 1px solid #d7d7d7;
}

.main-header .header-title {
    font-weight: bold;
    color: #26252a;
    font-size: 16px;
    padding: auto;
    margin: auto;
}

.main-body {
    height: calc(100vh - 280px);
    background-color: #f5f6f8;
    margin: 0;
    padding: 0;
}

.main-body-content {
    font-size: 14px;
    padding: 12px;
}

.main-body-content .item {
    padding: 12px 0px 12px 0px;
}

.item-tips {
    color: #999999;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.item-content {
    display: inline-block;
    vertical-align: top;
    padding: 0px 8px 0px 8px;
}

.item-message-a {
    background-color: #ffffff;
    padding: 11px 15px 11px 15px;
    word-wrap: break-word;
    word-break: normal;
}

.item-message-b {
    background-color: #e6f3ff;
    padding: 11px 15px 11px 15px;
    word-wrap: break-word;
    word-break: normal;
}

.main-footer {
    margin: 0;
    padding: 0;
    border-top: 1px solid #d7d7d7;
    background-color: #f5f6f8;
}

.main-footer .message-input {
    padding: 0 14px 0 14px;
}
.main-footer .button {
    padding-left: 0px;
}
.main-footer .button button {
    border-radius: unset;
}

.main-footer textarea {
    margin: 0;
    padding: 0px 0px 0px 14px;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    outline: none;
    resize: none;
    border: none;
    background-color: #f5f6f8;
}
.main-footer textarea:focus {
    outline: 0;
}

.main-footer .btn-send-con {
    width: 100%;
    padding: 0px 14px 0px 14px;
}
.main-footer .btn-send {
    width: 100%;
    height: 34px;
    color: #fff;
    border-color: #4493fa;
    background-color: #4493fa;
}

.extras {
    padding: 0;
    margin: 0;
    background-color: #fefefe;
}

.extras-alert {
    padding: 8px;
    border-radius: unset;
}
