/* main.css */

body {
    font-family: MicrosoftYaHei, "Microsoft YaHei", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.loading-overlay {
    background-color: unset !important;
}
.modal-elapsed {
    font-size: 12px;
    color: #6c757d;
}
.modal-elapsed span {
    display: inline-block;
}
.modal-elapsed-time {
    width: 32px;
    text-align: right;
}

.swal2-title {
    padding-left: 8px;
}

.font-weight-400 {
    font-weight: bold;
}

.brand-text-dark {
    color: #212223;
}

.img-round-rect {
    border-radius: 10%;
}

.user-panel .opt {
    border: none;
}

.user-panel .opt .right {
    position: absolute;
    right: 1rem;
    top: .7rem;
    opacity: 1.0;
    visibility: visible;
    transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s, opacity .3s ease-in-out;
}

.sidebar-collapse .opt .right {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.main-sidebar:hover .opt .right {
    visibility: visible;
    opacity: 1.0;
    transition: opacity .3s ease-in-out;
}

.main-catalog {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    height: calc(100vh - 140px);
}

.main-catalog .catalog {
    padding: 0rem;
}

.catalog .item {
    border-bottom: none;
    cursor: default;
}
.catalog .item:hover {
    background-color: #ececec;
}

.catalog-active {
    background-color: #007bff !important;
    color: #fefefe !important;
}
.catalog-active:hover {
    background-color: #58a8ff !important;
    color: #fdfdfd !important;
}

.catalog-active .product-description {
    color: #dfdfdf;
}

.product-title {
    font-size: 14px;
    font-weight: normal !important;
}
.product-description {
    font-size: 12px;
    padding-top: 4px;
}

.widget-user-desc {
    font-weight: normal !important;
}

.details-card {
    margin-bottom: 0px;
}
.details-card thead th {
    font-weight: normal;
    font-size: 12px;
}

.direct-chat-messages {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main-content {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    height: calc(100vh - 140px);
}

.main-content textarea {
    resize: none;
}

.main-content .week-day {
    font-size: 12px;
}

.card-background::before {
    content: '';
    display: block;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://static.shixincube.com/cube/assets/images/logo/cube_256.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}

.select-group-member {
    padding-top: 8px;
}
.select-group-member img {
    border-radius: 10%;
    margin: 0px 8px 0px 8px;
    width: 24px;
    height: 24px;
}
.select-group-member .custom-control-label span {
    padding-left: 4px;
}
