extends layout

block pageStyle
  link(rel='stylesheet', href='/stylesheets/main.css')


block pageScript
  script(type='text/javascript', src='/javascripts/cube.js')


block pageContent
  div.wrapper

