extends layout

block pageStyle
  link(rel='stylesheet', href='/stylesheets/signin.css')


block pageScript
  script(type='text/javascript', src='/javascripts/signin.js')


block pageContent
  div.text-center.signin
    form.form-signin
      img.mb-4(src='https://static.shixincube.com/cube/assets/images/logo/cube_256.png', alt='Cube' width='128', height='128')
      h1.h3.mb-3.font-weight-normal='Cube Application'
      h2.h5 请选择登录账号
      div.form-group
        label 账号
        select#accout_id.selectpicker.signin-select
          - each acc in accounts
              option(value='' + acc.id)= acc.id
      div.form-group
        label 用户昵称
        input.form-control(type='text', value=accounts[0].name)
      button.btn.btn-lg.btn-primary.btn-block 登 录
    p.mt-5.mb-3.text-muted 版权所有 &copy; 2018-2020 时信互联
          
